.search__bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.movie__info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

}


.test__img {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    border-radius: 10px;

    
}