.movie__header {
  color: white;
}

.movies {
  width: 100%;
  max-width: 1100px;
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 64px;

}

.movie__header {
  width: 100%;
  margin: 55px 0;
  text-align: center;
  font-size: 52px;
}

.movie__card {
  margin: 12px 8px;
  color: white;
}

.movie__card--container {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.movie__card--poster img {
  width: 350px;
  border-radius: 8px;
  
}

.movie__card--poster img:hover {
  border: .5px solid #ece897;
  filter: drop-shadow(0px 0px 4px #f4edaa);
  transform: scale(.9);
  transition: all 450ms ease-in-out;
  cursor: pointer;
  
}