/*

Section: Nav 

*/

#nav {
  background-image: url('../assets/starlit_background.gif');
}

.container {
  margin-top: 64px;
}

.nav__box {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid rgb(255, 255, 255);
  border-top: none;
  border-bottom: none;
  border-radius: 14px;
  border-color: #eee580;
  padding: 16px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  
}

.nav__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  list-style-type: none;
}

.nav__link {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: rgb(238, 237, 237);
  transition: all 500ms ease;
}

.nav__link:hover {
  color: red;
  font-size: 18px;
  transition: all 500ms ease;
}
.nav__item {
  display: flex;
}

.home__link {
  margin-top: 2px;
}

.home__btn {
  padding: 1em 2em;
  background-color: rgb(0, 0, 0);
  border: none;
  color: #f0f0f0;
  border-radius: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  cursor: pointer;
}

.home__btn::after {
  content: "";
  position: absolute;
  width: 104%;
  height: 104%;
  border-radius: 1000px;
  background-image: linear-gradient(to bottom right, #eee580, #9e720c);
  z-index: -1;
}

.home__btn:hover {
  z-index: 0;
  box-shadow: 40px 0 100px #eee580, -40px 0 100px #9e720c;
  transition: all 300ms ease;
}
.brow__link {
  width: 100%;
  display: flex;
  padding: 1em 2em;
}

.brow__link:hover {
  width: 100%;
  /* display: flex; */
  /* padding: 1em 2em; */
  /* cursor: not-allowed; */
}

.search__wrapper {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__movie--input {
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
  background-color: rgb(234, 225, 155);
}

.nav__label {
  margin-right: 12px;
}

.nav__label {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 10px;
  background-color: black;
}

.search__movie--input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 5px;
  background-color: black;
  color: white;
}





